@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181B1F;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm);
}

h1 span {
  background: -webkit-linear-gradient(90deg, #191B1F, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;
  color: #d5d4d4;
  
}

/* Container for the marquee */
.marquee-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 5rem, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 5rem, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
}

/* Each item inside the marquee */
.marquee-items {
  display: flex;
  flex: 0 0 auto;
  animation: marquee 90s linear infinite;
}

.marquee-items img {
  opacity: 0.4;
}

.marquee-item {
  padding-left: 3rem;
  width: 170px; 
  height: 60px;
  margin-right: 12px;
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Tablet (screens ≥ 640px) */
@media (max-width: 1024px) {
  .marquee-item {
    width: 140px; /* Decrease width on tablet */
    height: 50px; /* Decrease height on tablet */
    padding-left: 2rem; /* Reduce padding on tablet */
  }
}

/* Mobile (screens < 640px) */
@media (max-width: 640px) {
  .marquee-item {
    width: 120px; /* Decrease width on mobile */
    height: 45px; /* Decrease height on mobile */
    padding-left: 1rem; /* Reduce padding on mobile */
  }

  .marquee-items img {
    opacity: 0.6; /* Adjust opacity for smaller screens if needed */
  }
}
